@use "./util" as *;
@include map-properties((
    aspect-ratio: (
        name: "aspect-ratio",
        important: get-or-others(config("aspect-ratio", "important"), true),
        responsive: get-or-others(config("aspect-ratio", "responsive"), false),
        css: aspect-ratio,
        values: (
            "1x1": "1 / 1", 
            "4x3": "4 / 3", 
            "16x9": "16 / 9", 
            "21x9": "21 / 9"
        )
    )
));