@use "./util" as *;
@include map-properties((
    border-radius: (
        name: border-radius,
        responsive: config("border-radius", "responsive"),
        css: border-radius,
        values: (
            "square": 0%,
            "rounded": 10%,
            "circle": 50%
        )
    )
));