@use "./util" as *;
@use "sass:map";

@function make-border($key1: ""){
    $values: ("none": none);

    @for $i from 1 through 5{
        $values: map.set($values, #{$i},
        #{if-else(
            $key1 == "",
            get-or-others(
                config("border", #{$i}),
                #{$i + "px"}
            ),
            get-or-others(
                config("border", $key1, #{$i}),
                #{$i + "px"}
            )
        ) + " solid currentcolor"});
    }

    @return $values;
}

@include map-properties((
    border: (
        name: border,
        important: get-or-others(config("border", "important"), true),
        responsive: get-or-others(config("border", "responsive"), false),
        css: border,
        values: make-border()
    ),
    border-top: (
        name: border-top,
        important: get-or-others(config("border", "top", "important"), true),
        responsive: get-or-others(config("border", "top", "responsive"), false),
        css: border-top,
        values: make-border("top")
    ),
    border-left: (
        name: border-left,
        important: get-or-others(config("border", "left", "important"), true),
        responsive: get-or-others(config("border", "left", "responsive"), false),
        css: border-left,
        values: make-border("left")
    ),
    border-bottom: (
        name: border-bottom,
        important: get-or-others(config("border", "bottom", "important"), true),
        responsive: get-or-others(config("border", "bottom", "responsive"), false),
        css: border-bottom,
        values: make-border("bottom")
    ),
    border-right: (
        name: border-right,
        important: get-or-others(config("border", "right", "important"), true),
        responsive: get-or-others(config("border", "right", "responsive"), false),
        css: border-right,
        values: make-border("right")
    ),
    border-radius: (
        name: border-radius,
        responsive: get-or-others(config("border","radius", "responsive"), false),
        css: border-radius,
        values: (
            "square": 0%,
            "rounded": 10%,
            "circle": 50%
        )
    )
));