.theme, .theme-light{
    --body-bg: #fff;
    --body-fg: #212529;
    --secondary-bg: #e9ecef;
    --secondary-fg: rgba(33, 37, 41, 0.75);
    --tertiary-bg: #f8f9fa;
    --tertiary-fg: rgba(33, 37, 41, 0.5);
    --emphasis: #000;
    

    // primary
    --primary: rgba(13,110,253, 1);
    --primary-hover: var(--primary);
    --primary-bg: var(--primary);
    --primary-bg-hover: var(--primary);
    --primary-bg-active: var(--primary);
    --primary-border: var(--primary);
    --primary-border-hover: var(--primary);
    --primary-border-subtle: #9ec5fe;
    --primary-text: #052c65;

    // success
    --success: rgba(25,135,84, 1);
    --success-hover: var(--success);
    --success-bg: var(--success);
    --success-bg-hover: var(--success);
    --success-bg-active: #d1e7dd;
    --success-border: var(--success);
    --success-border-hover: #a3cfbb;
    --success-border-subtle: var(--success);
    --success-text: #0a3622;

    // danger
    --danger: rgba(220,53,69, 1);
    --danger-hover: var(--danger);
    --danger-bg: var(--danger);
    --danger-bg-hover: #f8d7da;
    --danger-bg-active: #f5c6ce;
    --danger-border: var(--danger);
    --danger-border-hover: #f1aeb5;
    --danger-border-subtle: var(--danger);
    --danger-text: #58151c;
    
    // warning
    --warning: rgba(255,193,7, 1);
    --warning-hover: var(--warning);
    --warning-bg: var(--warning);
    --warning-bg-hover: #fff3cd;
    --warning-bg-active: #fff3cd;
    --warning-border: var(--warning);
    --warning-border-hover: #ffe69c;
    --warning-border-subtle: var(--warning);
    --warning-text: #664d03;

    // info
    --info: rgba(255,193,7, 1);
    --info-hover: var(--info);
    --info-bg: var(--info);
    --info-bg-hover: #fff3cd;
    --info-bg-active: #fff3cd;
    --info-border: var(--info);
    --info-border-hover: #ffe69c;
    --info-border-subtle: var(--info);
    --info-text: #664d03;
}

.theme-dark{
    --body-bg: #fff;
    --body-fg: #212529;
    --secondary-bg: #e9ecef;
    --secondary-fg: rgba(33, 37, 41, 0.75);
    --tertiary-bg: #f8f9fa;
    --tertiary-fg: rgba(33, 37, 41, 0.5);
    --emphasis: #000;

    // primary
    --primary: rgba(13,110,253, 1);
    --primary-hover: var(--primary);
    --primary-bg: var(--primary);
    --primary-bg-hover: var(--primary);
    --primary-bg-active: var(--primary);
    --primary-border: var(--primary);
    --primary-border-hover: var(--primary);
    --primary-border-subtle: #9ec5fe;
    --primary-text: #052c65;

    // success
    --success: rgba(25,135,84, 1);
    --success-hover: var(--success);
    --success-bg: var(--success);
    --success-bg-hover: var(--success);
    --success-bg-active: #d1e7dd;
    --success-border: var(--success);
    --success-border-hover: #a3cfbb;
    --success-border-subtle: var(--success);
    --success-text: #0a3622;

    // danger
    --danger: rgba(220,53,69, 1);
    --danger-hover: var(--danger);
    --danger-bg: var(--danger);
    --danger-bg-hover: #f8d7da;
    --danger-bg-active: #f5c6ce;
    --danger-border: var(--danger);
    --danger-border-hover: #f1aeb5;
    --danger-border-subtle: var(--danger);
    --danger-text: #58151c;
    
    // warning
    --warning: rgba(255,193,7, 1);
    --warning-hover: var(--warning);
    --warning-bg: var(--warning);
    --warning-bg-hover: #fff3cd;
    --warning-bg-active: #fff3cd;
    --warning-border: var(--warning);
    --warning-border-hover: #ffe69c;
    --warning-border-subtle: var(--warning);
    --warning-text: #664d03;

    // info
    --info: rgba(255,193,7, 1);
    --info-hover: var(--info);
    --info-bg: var(--info);
    --info-bg-hover: #fff3cd;
    --info-bg-active: #fff3cd;
    --info-border: var(--info);
    --info-border-hover: #ffe69c;
    --info-border-subtle: var(--info);
    --info-text: #664d03;
}