@use "./util" as *;
@include map-properties((
    direction: (
        name: direction,
        important: get-or-others(config("direction", "important"), true),
        responsive: get-or-others(config("direction", "responsive"), false),
        css: direction,
        values: (
            ltr: ltr,
            rtl: rtl
        )
    )
))