@use "./util" as *;
@include map-properties((
    display: (
        name: display,
        responsive: get-or-others(config("display", "responsive"), true),
        css: display,
        values: (
            flex: flex, 
            inline-flex: inline-flex, 
            block: block, 
            inline-block: inline-block, 
            inline: inline,
            none: none
        )
    )
));