@use "./util" as *;
@include map-properties((
    float: (
        name: float,
        css: float,
        values: (
            left: left, 
            right: right, 
            none: none
        )
    )
));