@use "./util" as *;
@include map-properties((
    gap: (
        name: gap,
        responsive: config("gap", "responsive"),
        css: gap,
        values: (
            "0": config("gap", "0"),
            "1": config("gap", "1"),
            "2": config("gap", "2"),
            "3": config("gap", "3"),
            "4": config("gap", "4"),
            "5": config("gap", "5")
        )
    ),

    row-gap: (
        name: row-gap,
        responsive: config("gap", "row", "responsive"),
        css: row-gap,
        values: (
            "0": config("gap", "row", "0"),
            "1": config("gap", "row", "1"),
            "2": config("gap", "row", "2"),
            "3": config("gap", "row", "3"),
            "4": config("gap", "row", "4"),
            "5": config("gap", "row", "5")
        )
    ),

    column-gap: (
        name: column-gap,
        responsive: config("gap", "column", "responsive"),
        css: column-gap,
        values: (
            "0": config("gap", "column", "0"),
            "1": config("gap", "column", "1"),
            "2": config("gap", "column", "2"),
            "3": config("gap", "column", "3"),
            "4": config("gap", "column", "4"),
            "5": config("gap", "column", "5")
        )
    ),
));