@use "./util" as *;

$-values: (
    auto: auto, 
    "0": 0%, 
    "25": 25%, 
    "50": 50%,
    "75": 75%, 
    "100": 100%
);

@include map-properties((
    height: (
        name: "h",
        important: get-or-others(config("height", "important"), true),
        responsive: get-or-others(config("height", "responsive"), true),
        css: height,
        values: $-values
    ),

    min-height: (
        name: "min-h",
        important: get-or-others(config("height", "min", "important"), true),
        responsive: get-or-others(config("height", "min", "responsive"), true),
        css: min-height,
        values: $-values
    ),

    max-height: (
        name: "max-h",
        important: get-or-others(config("height", "max", "important"), true),
        responsive: get-or-others(config("height", "max", "responsive"), true),
        css: max-height,
        values: $-values
    )
));