@use "./util" as *;
@include map-properties((
    line-height: (
        name: line-height,
        responsive: get-or-others(config("line-height", "responsive"), false),
        css: line-height,
        values: (
            "1": 1,
            "small": 1.25,
            "normal": 1.5,
            "large": 2
        )
    )
))