@use "./util" as *;
@include map-properties((
    line-height: (
        name: lh,
        important: get-or-others(config("line-height", "important"), true),
        responsive: get-or-others(config("line-height", "responsive"), false),
        css: line-height,
        var: --line-height,
        values: (
            "small": get-or-others(config("line-height", "small"), 1.25),
            "normal": get-or-others(config("line-height", "normal"), 1.5),
            "medium": get-or-others(config("line-height", "medium"), 1.75),
            "large": get-or-others(config("line-height", "large"), 2)
        )
    )
))