@use "./util" as *;;
@include map-properties((
    opacity: (
        name: "opacity",
        important: get-or-others(config("opacity", "important"), true),
        responsive: get-or-others(config("opacity", "responsive"), false),
        css: opacity,
        values: (
            "0": 0%, 
            "25": 25%, 
            "50": 50%, 
            "75": 75%, 
            "100": 100%
        )
    )
));