@use "./util" as *;;

$-values: (
    auto: auto, 
    visible: visible, 
    hidden: hidden, 
    clip: clip, 
    scroll: scroll
);

@include map-properties((
    overflow: (
        name: overflow,
        responsive: get-or-others(config("overflow", "responsive"), false),
        css: overflow,
        values: $-values
    ),
    overflow-x: (
        name: overflow-x,
        responsive: get-or-others(config("overflow", "x", "responsive"), false),
        css: overflow-x,
        values: $-values
    ),
    overflow-y: (
        name: overflow-y,
        responsive: get-or-others(config("overflow", "y", "responsive"), false),
        css: overflow-y,
        values: $-values
    )
));