@use "./util" as *;;
@include map-utilities((
    vstack: (
        name: vstack,
        important: false,
        responsive: get-or-others(config("stack", "vertical", "responsive"), true),
        css: display flex-direction,
        values: only-default(flex column),
    ),

    hstack: (
        name: hstack,
        important: false,
        responsive: get-or-others(config("stack", "horizontal", "responsive"), true),
        css: display flex-direction,
        values: only-default(flex row),
    )
));