@use "./util" as *;;
@include map-properties((
    user-select: (
        name: user-select,
        important: get-or-others(config("user-select", "important"), true),
        responsive: get-or-others(config("user-select", "responsive"), false),
        css: -webkit-user-select user-select,
        values: (
            none: none none, 
            text: text text, 
            all: all all
        )
    )
));