@use "./util" as *;;
@include map-properties((
    visibility: (
        name: visibility,
        responsive: config("visibility", "responsive"),
        css: visibility,
        values: (
            visible: visible, 
            hidden: hidden
        )
    )
));