@use "./util" as *;;
@include map-utilities((
    visibility: (
        name: "visual",
        important: get-or-others(config("visibility", "important"), true),
        responsive: get-or-others(config("visibility", "responsive"), false),
        css: visibility,
        values: (
            visible: visible, 
            hidden: hidden
        )
    )
));