@use "./util" as *;;

$-values: (
    auto: auto, 
    "0": 0%, 
    "25": 25%, 
    "50": 50%,
    "75": 75%, 
    "100": 100%
);

@include map-properties((
    width: (
        name: width,
        important: get-or-others(config("width", "important"), true),
        responsive: get-or-others(config("width", "responsive"), true),
        css: width,
        values: $-values
    ),

    min-width: (
        name: min-width,
        important: get-or-others(config("width", "min", "important"), true),
        responsive: get-or-others(config("width", "min", "responsive"), true),
        css: min-width,
        values: $-values
    ),

    max-width: (
        name: max-width,
        important: get-or-others(config("width", "max", "important"), true),
        responsive: get-or-others(config("width", "max", "responsive"), true),
        css: max-width,
        values: $-values
    )
));