@use "../util" as *;
@include map-properties((
    rotate: (
        name: rotate,
        css: transform,
        values: (
            "45": rotate(45deg), 
            "90": rotate(90deg), 
            "180": rotate(180deg), 
            "n45": rotate(-45deg), 
            "n90": rotate(-90deg), 
            "n180": rotate(-180deg)
        )
    )
));