@use "../util" as *;
@include map-utilities((
    translate: (
        name: "translate",
        important: get-or-others(config("transform", "translate", "important"), true),
        responsive: get-or-others(config("transform", "translate", "responsive"), false),
        css: transform,
        values: (
            "n50": translate(-50%, -50%), 
            "n100": translate(-100%, -100%), 
            "50": translate(50%, 50%), 
            "100": translate(100%, 100%)            
        )
    ),
    translate-x: (
        name: "translate-x",
        important: get-or-others(config("transform", "translate", "x", "important"), true),
        responsive: get-or-others(config("transform", "translate", "x", "responsive"), false),
        css: transform,
        values: (
            "n50": translateX(-50%), 
            "n100": translateX(-100%), 
            "50": translateX(50%), 
            "100": translateX(100%)            
        )
    ),
    translate-y: (
        name: "translate-y",
        important: get-or-others(config("transform", "translate", "y", "important"), true),
        responsive: get-or-others(config("transform", "translate", "y", "responsive"), false),
        css: transform,
        values: (
            "n50": translateY(-50%), 
            "n100": translateY(-100%), 
            "50": translateY(50%), 
            "100": translateY(100%)            
        )
    )
));