@use "./util" as *;
@use "./spacer" as *;
@use "sass:list";
@use "sass:map";

@function get-gaps($key1: '', $key2: ''){
    $values: ();
    
    @for $i from 0 to list.length($spacer){
        $values: map.set($values, #{$i}, 
        if-else($key1 == '',
        get-or-others(
            config("gap", #{$i}),
            config("spacing", #{$i}),
            list.nth($spacer, $i + 1)
        ),
        get-or-others(
            config("gap", $key1, #{$i}),
            config("spacing", $key2, #{$i}),
            config("spacing", #{$i}),
            list.nth($spacer, $i + 1)
        )));
    }

    @return $values
}

@include map-properties((
    gap: (
        name: "gap",
        important: get-or-others(config("gap", "important"), true),
        responsive: get-or-others(
            config("gap", "responsive"), 
            config("spacing", "responsive"), 
            false
        ),
        css: gap,
        values: get-gaps()
    ),

    row-gap: (
        name: "gap-x",
        important: get-or-others(config("gap", "row", "important"), true),
        responsive: get-or-others(
            config("gap", "row", "responsive"),
            config("spacing", "x", "responsive")
            config("spacing", "responsive"),
            false
        ),
        css: row-gap,
        values: get-gaps("row", "x")
    ),

    column-gap: (
        name: "gap-y",
        important: get-or-others(config("gap", "column", "important"), true),
        responsive: get-or-others(
            config("gap", "column", "responsive"),
            config("spacing", "y", "responsive"),
            config("spacing", "responsive"),
            false
        ),
        css: column-gap,
        values: get-gaps("column", "y")
    ),
));