@import "./color.css";

:root{
  --radius: 8px;
  --transition: 150ms ease-in-out;
  --header-height: 78px;
}

::selection{
  background-color: var(--orange-9);
  color: var(--gray-12);
}

html, body, #app {
  height: 100%;
  margin: 0px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
	background-color: var(--gray-1);
}

#app{
  overflow: auto;
}