:root{
  --radius: 8px;
  --transition: 150ms ease-in-out;
}

:root, [data-theme='light']{
  /* netural */
	--gray-1: #fcfcfc;
	--gray-2: #f9f9f9;
	--gray-3: #f0f0f0;
	--gray-4: #e8e8e8;
	--gray-5: #e0e0e0;
	--gray-6: #d9d9d9;
	--gray-7: #cecece;
	--gray-8: #bbb;
	--gray-9: #8d8d8d;
	--gray-10: #838383;
	--gray-11: #646464;
	--gray-12: #202020;

  /* primary */
	--orange-1: #fefcfb;
	--orange-2: #fff7ed;
	--orange-3: #ffefd6;
	--orange-4: #ffdfb5;
	--orange-5: #ffd19a;
	--orange-6: #ffc182;
	--orange-7: #f5ae73;
	--orange-8: #ec9455;
	--orange-9: #f76b15;
	--orange-10: #ef5f00;
	--orange-11: #cc4e00;
	--orange-12: #582d1d;

  /* sccuess */
	--green-1: #fbfefc;
	--green-2: #f4fbf6;
	--green-3: #e6f6eb;
	--green-4: #d6f1df;
	--green-5: #c4e8d1;
	--green-6: #adddc0;
	--green-7: #8eceaa;
	--green-8: #5bb98b;
	--green-9: #30a46c;
	--green-10: #2b9a66;
	--green-11: #218358;
	--green-12: #193b2d;

  /* error */
	--red-1: #fffcfc;
	--red-2: #fff7f7;
	--red-3: #feebec;
	--red-4: #ffdbdc;
	--red-5: #ffcdce;
	--red-6: #fdbdbe;
	--red-7: #f4a9aa;
	--red-8: #eb8e90;
	--red-9: #e5484d;
	--red-10: #dc3e42;
	--red-11: #ce2c31;
	--red-12: #641723;
}

[data-theme='dark']{
  /* netural */
	--gray-1: #111;
	--gray-2: #191919;
	--gray-3: #222;
	--gray-4: #2a2a2a;
	--gray-5: #313131;
	--gray-6: #3a3a3a;
	--gray-7: #484848;
	--gray-8: #606060;
	--gray-9: #6e6e6e;
	--gray-10: #7b7b7b;
	--gray-11: #b4b4b4;
	--gray-12: #eee;


  /* primary */
	--orange-1: #17120e;
	--orange-2: #1e160f;
	--orange-3: #331e0b;
	--orange-4: #462100;
	--orange-5: #562800;
	--orange-6: #66350c;
	--orange-7: #7e451d;
	--orange-8: #a35829;
	--orange-9: #f76b15;
	--orange-10: #ff801f;
	--orange-11: #ffa057;
	--orange-12: #ffe0c2;


  /* sccuess */
	--green-1: #0e1512;
	--green-2: #121b17;
	--green-3: #132d21;
	--green-4: #113b29;
	--green-5: #174933;
	--green-6: #20573e;
	--green-7: #28684a;
	--green-8: #2f7c57;
	--green-9: #30a46c;
	--green-10: #33b074;
	--green-11: #3dd68c;
	--green-12: #b1f1cb;

  /* error */
	--red-1: #191111;
	--red-2: #201314;
	--red-3: #3b1219;
	--red-4: #500f1c;
	--red-5: #611623;
	--red-6: #72232d;
	--red-7: #8c333a;
	--red-8: #b54548;
	--red-9: #e5484d;
	--red-10: #ec5d5e;
	--red-11: #ff9592;
	--red-12: #ffd1d9;

}

html, body, #app {
  height: 100%;
  margin: 0px;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
	overflow-y: auto;
}