.docs-header {
    background-color: var(--gray-2);
    z-index: 1000;
    height: var(--header-height);
    border-bottom: 1px solid var(--gray-7);
}

.docs-sidebar{
    width: 250px;
    top: var(--header-height);
    height: calc(100% - var(--header-height));
    z-index: 1000;
}

.docs-content{
    margin-left: 250px;
}

@media (width <= 768px) {
    .docs-content{
        margin-left: 0;
    }
}