.docs-container {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-1);
    height: 100%;
}

.docs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-2);
    padding: var(--padding-2);
}

.docs-body {
    display: flex;
    flex: 1;
    overflow-y: auto;
}