.nav-list {
    list-style: none;
    background-color: var(--gray-2);
}

.nav-list > li + li{
    margin-top: var(--gap-y-1);
}

.nav-nest-list {
    list-style: none;
}

.nav-nest-list-item {
    border-radius: var(--radius);
    transition: background-color var(--transition);
}

.nav-nest-list-item:hover {
    background-color: var(--orange-3);
}

.nav-nest-list-item.active {
    background-color: var(--orange-4);
}

.nav-nest-list-item > a{
    text-decoration: none;
    color: var(--gray-11);
}

.nav-nest-list-item:where(:hover, .active) > a{
    color: var(--orange-11);
}