.nav-list {
    list-style: none;
    background-color: var(--gray-2);
    box-sizing: border-box;
}

.nav-nest-list {
    list-style: none;
    padding: var(--padding-1);
}

.nav-nest-list-item {
    border-radius: var(--radius);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition: background-color var(--transition);
}

.nav-nest-list-item:hover {
    background-color: var(--orange-3);
}

.nav-nest-list-item.active {
    background-color: var(--orange-4);
}

.nav-nest-list-item + .nav-nest-list-item {
    margin-top: calc(var(--gap-y-1) / 2);
}

.nav-nest-list-item > a{
    width: 100%;
    display: inline-block;
    padding: var(--padding-1);
    text-decoration: none;
    color: var(--gray-11);
}

.nav-nest-list-item:where(:hover, .active) > a{
    color: var(--orange-11);
}