@use "../util" as *;
@include map-properties((
    pointer-events: (
        name: "pe",
        important: get-or-others(config("pointer-events", "important"), true),
        responsive: get-or-others(config("pointer-events", "responsive"), false),
        css: pointer-events,
        values: (
            auto: auto,
            none: none
        )
    )
));