@use "../util" as *;
@include map-properties((
    text-align: (
        name: text-align,
        responsive: config("text", "align", "responsive"),
        css: text-align,
        values: (
            center: center, 
            left: left, 
            right: right, 
            justify: justify
        )
    )
));