@use "../util" as *;
@include map-utilities((
    text-decoration: (
        name: "text-decorate",
        important: get-or-others(config("text", "decoration", "important"), true),
        responsive: get-or-others(config("text", "decoration", "responsive"), false),
        css: text-decoration,
        values: (
            underline: underline, 
            overline: overline, 
            line-through: line-through
        )
    )
));