@use "../util" as *;
@include map-properties((
    text-truncation: (
        name: text-truncation,
        responsive: get-or-others(config("text", "truncation", "responsive"), false),
        css: overflow text-overflow white-space,
        values: only-default(hidden ellipsis nowrap)
    ),

    text-break: (
        name: text-break,
        responsive: get-or-others(config("text", "break", "responsive"), false),
        css: word-wrap word-break,
        values: only-default(break-word break-word)
    )
));