@use "../util" as *;
@include map-properties((
    text-transform: (
        name: text-transform,
        responsive: config("text", "transform", "responsive"),
        css: text-transform,
        values: (
            capitalize: capitalize, 
            lowercase: lowercase, 
            uppercase: uppercase
        )
    )
));