@use "../util" as *;
@include map-properties((
    vertical-align: (
        name: vertical-align,
        important: get-or-others(config("vertical-align", "important"), true),
        responsive: get-or-others(config("vertical-align", "responsive"), false),
        css: vertical-align,
        values: (
            baseline: baseline, 
            top: top, 
            middle: middle, 
            bottom: bottom, 
            text-top: text-top, 
            text-bottom: text-bottom
        )
    )
));