@use "../util" as *;
@include map-utilities((
    white-space: (
        name: "white-space",
        important: get-or-others(config("white-space", "important"), true),
        responsive: get-or-others(config("white-space", "responsive"), false),
        css: white-space,
        values: (
            pre: pre, 
            wrap: wrap, 
            nowrap: nowrap
        )
    )
));