@use "../util" as *;
@include map-properties((
    white-space: (
        name: white-space,
        responsive: config("white-space", "responsive"),
        css: white-space,
        values: (
            pre: pre, 
            wrap: wrap, 
            nowrap: nowrap
        )
    )
));