@use "../util" as *;
@include map-properties((
    text-wrap: (
        name: text-wrap,
        css: text-wrap,
        values: (
            wrap: wrap, 
            nowrap: nowrap, 
            pretty: pretty, 
            balance: balance
        )
    )
));