@use "../util" as *;
@include map-utilities((
    font-italic: (
        name: "font-italic",
        important: get-or-others(config("font", "italic", "important"), true),
        responsive: get-or-others(config("font", "italic", "responsive"), false),
        css: font-style,
        values: only-default(italic)
    ),

    font-family: (
        name: "font",
        important: get-or-others(config("font", "family", "important"), true),
        responsive: get-or-others(config("font", "family", "responsive"), false),
        css: font-family,
        values: (
            system: system,
            monospace: monospace
        )
    )
));