@use "util" as *;
@include map-properties((
    font-size: (
        name: font-size,
        responsive: config("font", "size", "responsive"),
        css: font-size,
        values: (
            "smaller": config("font", "size", "smaller"),
            "small": config("font", "size", "small"),
            "normal": config("font", "size", "normal"),
            "median": config("font", "size", "median"),
            "large": config("font", "size", "large"),
            "larger": config("font", "size", "larger"),
            "xlarge": config("font", "size", "xlarge")
        )
    )
));