@use "util" as *;
@include map-properties((
    font-size: (
        name: "font-size",
        important: get-or-others(config("font", "size", "important"), true),
        responsive: get-or-others(config("font", "size", "responsive"), true),
        css: font-size,
        var: --font-size,
        values: (
            "smaller": get-or-others(config("font", "size", "smaller"), 4px),
            "small": get-or-others(config("font", "size", "small"), 8px),
            "normal": get-or-others(config("font", "size", "normal"), 16px),
            "median": get-or-others(config("font", "size", "median"), 24px),
            "large": get-or-others(config("font", "size", "large"), 32px),
            "larger": get-or-others(config("font", "size", "larger"), 48px),
            "xlarge": get-or-others(config("font", "size", "xlarge"), 64px)
        )
    )
));