@use "../util" as *;
@include map-properties((
    font-weight: (
        name: font-weight,
        css: font-weight,
        values: (
            "lighter": config("font", "weight", "lighter"),
            "light": config("font", "weight", "light"),
            "normal": config("font", "weight", "normal"),
            "bold": config("font", "weight", "bold"),
            "bolder": config("font", "weight", "bolder")
        )
    )
));