@use "../util" as *;
@include map-properties((
    font-weight: (
        name: font-weight,
        css: font-weight,
        values: (
            "lighter": 200,
            "light": 300,
            "normal": 400,
            "bold": 500,
            "bolder": 600
        )
    )
));