@use "../util" as *;
@include map-properties((
    flex-direction: (
        name: "flex-direction",
        important: get-or-others(config("flex", "direction", "important"), true),
        responsive: get-or-others(config("flex", "direction", "responsive"), true),
        css: flex-direction,
        values: (
            row: row, 
            row-reverse: row-reverse, 
            column: column, 
            column-reverse: column-reverse
        )
    )
));