@use "../util" as *;
@include map-properties((
    justify-content: (
        name: justify-content,
        responsive: get-or-others(config("justify-content", "responsive"), true),
        css: justify-content,
        values: (
            center: center, 
            start: start, 
            end: end, 
            left: left, 
            right: right, 
            baseline: baseline, 
            stretch: stretch, 
            space-between: space-between, 
            space-around: space-around, 
            space-evenly: space-evenly
        )
    )
));