@use "../util" as *;
@include map-properties((
    flex-shrink: (
        name: flex-shrink,
        responsive: config("flex","shrink", "responsive"),
        css: flex-shrink,
        values: (
            "0": 0,
            "1": 1
        )
    )
));