@use "../util" as *;
@include map-properties((
    flex-wrap: (
        name: flex-wrap,
        responsive: config("flex", "wrap", "responsive"),
        css: flex-wrap,
        values: (
            wrap: wrap, 
            nowrap: nowrap
        )
    )
));