.example{
    background-color: var(--gray-2);
    border: 1px solid var(--gray-7);
    border-radius: var(--radius);
}

.example-board{
    padding: var(--padding-1);
}

*[data-example-block]{
    background-color: var(--orange-9);
    padding: var(--padding-1);
    color: var(--gray-12);
}