@use "../util" as *;
@include map-properties((
    position: (
        name: "position",
        important: get-or-others(config("position", "important"), true),
        responsive: get-or-others(config("position", "responsive"), false),
        css: position,
        values: (
            static: static, 
            relative: relative, 
            absolute: absolute, 
            fixed: fixed, 
            sticky: sticky
        )
    )
));