@use "../util" as *;
@include map-properties((
    position: (
        name: position,
        responsive: config("position", "responsive"),
        css: position,
        values: (
            static: static, 
            relative: relative, 
            absolute: absolute, 
            fixed: fixed, 
            sticky: sticky
        )
    )
));